<div class="card mb-4">
	<div class="card-body">
		{{ form_start(form) }}
		{# {{ form_widget(form) }} #}
		<div class="mb-3">
			{{ form_row(form.title) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.description) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.dueDate) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.status) }}
		</div>
		<button class="btn">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</div>
</div>
